<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>成功案例 - Standard Human Capital</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta name="author" content="www.shbewell.com">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/english_styles.css" rel="stylesheet" type="text/css">
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
  
        <div class="top_back">
        <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
       
        <div class="top_right2 gray_8">
          <a title="Follow our Sina Weibo" target="_blank" href="http://weibo.com/StandardHC">
            <img src="/static/images/home_icon2.gif" border="0">
          </a>
          <a title="Follow our Tencent Weibo" target="_self" href="javascript:;">
            <img src="/static/images/home_icon3.gif" border="0">
          </a>
          <a href="/set_language/zh" class="top_icon_s">Chinese</a>
          <a href="/contact">Contact Us</a>
        </div>
        </div>
       
        <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135031124187.08-gHDbzw.jpg) center no-repeat;"></div>
       
        <div class="nav_s">
            <ul>
            <li class="nav_1s"><a href="/">Home</a></li>
            <li class="nav_2s nav_s_line">
              <a href="/about" class="nav_2s_hover">About Us</a>
              <div>
                <span><a href="/about">Management Team</a></span>
                <span><a href="/about_history">Development History</a></span>
                <span><a href="/about_advantage">Business Advantages</a></span>
                <span><a href="/about_cultural_vision">Vision & Culture</a></span>
              </div>
            </li>
            <li class="nav_3s nav_s_line">
              <a href="/service" class="">Services</a>
              <div>
                <span><a href="/service">Industry-Specific</a></span>
                <span><a href="/service_function_specific">Function-Specific</a></span>
                <span><a href="/service_caiwuguanlizixun">Wealth Management</a></span>
                <span><a href="/service_directors">Board Services</a></span>
              </div>
            </li>
            <li class="nav_4s nav_s_line">
              <a href="/process" class="">Our Process</a>
              <div>
                <span><a href="/process">Leadership Assessment</a></span>
                <span><a href="/process_development">Leadership Development</a></span>
                <span><a href="/process_operating_guidelines">Operating Guidelines</a></span>
              </div>
            </li>
            <li class="nav_5s nav_s_line"><a href="/cases" class="">Cases</a></li>
            <li class="nav_6s nav_s_line"><a href="/contact" class="">Contact Us</a></li>
            </ul>
        </div>
        <script type="text/javascript">
        $('.nav_6').hide();
        </script>
       
        <div class="main">
       <!--
        <div class="left">
          <div class="menu" style="padding-bottom:0px;">
            <ul>
              <li><a class="menu_hover" href="/cases">Success Cases</a></li>
            </ul>
          </div>
          <div class="left_img"></div>
        </div>
       -->
        
       <div class="center-custom-small" style="font-size: 12px; line-height: 1.4;">
        <div class="about kd-content" style="font-size: inherit;">
      
          <!-- Insurance Companies -->
          <b class="bule_2" style="display: block; font-size: 15px; margin: 12px 0 5px;">[Insurance Companies]</b>
          <table style="width: 100%; font-size: inherit; border-collapse: collapse; margin-bottom: 15px;">
            <tr>
              <td><strong>Property Insurance</strong></td>
              <td></td>
              <td><strong>Life Insurance</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Chief Actuary</td>
              <td>Claims Manager (Marine & Auto)</td>
              <td>EVP of Sales</td>
              <td>EVP of Operations</td>
            </tr>
            <tr>
              <td>Business Administration Manager</td>
              <td>Business Analyst</td>
              <td>Chief Marketing Officer</td>
              <td>Director of Fixed Income Investments</td>
            </tr>
            <tr>
              <td colspan="2">Underwriting Director / Mid-to-Senior Underwriter (Property, Liability, Marine, etc.)</td>
              <td>Chief Actuary</td>
              <td>AVP, Group Insurance</td>
            </tr>
            <tr>
              <td colspan="2">Direct/Reinsurance Brokers (Client Manager, Branch Manager)</td>
              <td>GM of Bancassurance</td>
              <td></td>
            </tr>
          </table>
      
          <!-- Banks -->
          <b class="bule_2" style="display: block; font-size: 15px; margin: 12px 0 5px;">[Banks]</b>
          <table style="width: 100%; font-size: inherit; border-collapse: collapse; margin-bottom: 15px;">
            <tr>
              <td><strong>Foreign Banks</strong></td>
              <td></td>
              <td><strong>Domestic Banks</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Credit Approval Head</td>
              <td>FI China Head</td>
              <td>Bank President</td>
              <td>Head of Private Banking</td>
            </tr>
            <tr>
              <td>Corporate Training Manager</td>
              <td>GTS Cash Sales VP</td>
              <td>Operations Director</td>
              <td>Compliance / Audit Director</td>
            </tr>
            <tr>
              <td>Treasury Sales VP</td>
              <td>TTLC Relationship Manager</td>
              <td>Regional Business Director</td>
              <td>GM of Trade Finance</td>
            </tr>
            <tr>
              <td>China Marketing Head</td>
              <td>Senior Credit Analyst</td>
              <td>GM of International Business</td>
              <td></td>
            </tr>
            <tr>
              <td>Structured Trade Finance</td>
              <td>Treasury Sales VP</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Syndication Analyst AVP</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
      
          <!-- Investment Firms -->
          <b class="bule_2" style="display: block; font-size: 15px; margin: 12px 0 5px;">[Investment Firms]</b>
          <table style="width: 100%; font-size: inherit; border-collapse: collapse; margin-bottom: 15px;">
            <tr>
              <td>Chief Representative</td>
              <td>Partner / Assistant GM</td>
              <td>Audit Director</td>
            </tr>
            <tr>
              <td>Investment Director</td>
              <td>Investor Relations Director</td>
              <td>Head of Tax</td>
            </tr>
            <tr>
              <td>Risk Control Director</td>
              <td>Industry Research Director</td>
              <td></td>
            </tr>
          </table>
      
          <!-- Securities Firms -->
          <b class="bule_2" style="display: block; font-size: 15px; margin: 12px 0 5px;">[Securities Firms]</b>
          <table style="width: 100%; font-size: inherit; border-collapse: collapse; margin-bottom: 15px;">
            <tr>
              <td>GM of Investment Banking</td>
              <td>Director of Research Marketing</td>
              <td>Director of Financial Engineering & Products</td>
            </tr>
            <tr>
              <td>SVP of Investment Banking Projects</td>
              <td>Sponsor</td>
              <td>GM of M&A Dept</td>
            </tr>
            <tr>
              <td>Senior Industry Analyst</td>
              <td>GM of Underwriting Dept</td>
              <td>GM of Brokerage Dept</td>
            </tr>
            <tr>
              <td>VP, QFII Dept</td>
              <td>GM of Fixed Income Investment</td>
              <td>GM of Internal Audit</td>
            </tr>
          </table>
      
          <!-- Fund Management Firms -->
          <b class="bule_2" style="display: block; font-size: 15px; margin: 12px 0 5px;">[Fund Management Firms]</b>
          <table style="width: 100%; font-size: inherit; border-collapse: collapse; margin-bottom: 15px;">
            <tr>
              <td>CEO of JV Fund (proposed)</td>
              <td>CIO of JV Fund (proposed)</td>
              <td>Institutional Sales Director</td>
            </tr>
            <tr>
              <td>Senior Strategy Analyst</td>
              <td>Fund Managers (Equity, Bond, Money Market)</td>
              <td>ETF Investment Manager</td>
            </tr>
          </table>
      
          <!-- Real Estate -->
          <b class="bule_2" style="display: block; font-size: 15px; margin: 12px 0 5px;">[Real Estate]</b>
          <table style="width: 100%; font-size: inherit; border-collapse: collapse; margin-bottom: 15px;">
      
            <!-- Real Estate Development -->
            <tr><td colspan="5"><strong>Real Estate Development</strong></td></tr>
            <tr>
              <td>GM of Urban Development</td>
              <td>GM of Business Unit</td>
              <td>Chief Architect</td>
              <td>Chief Engineer</td>
              <td>Group Deputy GM of Engineering</td>
            </tr>
            <tr>
              <td>Engineering Manager</td>
              <td>GM of Commercial Operations</td>
              <td>Interior Fit-Out Manager</td>
              <td>Deputy GM of Safety Supervision</td>
              <td>GM of Finance</td>
            </tr>
            <tr>
              <td>Leasing Manager</td>
              <td>Landscape Designer</td>
              <td>Cost Control Director</td>
              <td>Construction Cost Manager</td>
              <td>Senior Legal Manager</td>
            </tr>
            <!-- Investment, Financing & Real Estate Finance -->
            <tr><td colspan="5"><strong>Investment, Financing & Real Estate Finance</strong></td></tr>
            <tr>
              <td>Investment Director</td>
              <td>Macroeconomic Analyst</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Follow-on Fundraising Manager</td>
              <td>REITS</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
      
          <!-- TMT -->
          <b class="bule_2" style="display: block; font-size: 15px; margin: 12px 0 5px;">[TMT]</b>
          <table style="width: 100%; font-size: inherit; border-collapse: collapse; margin-bottom: 15px;">
            <tr><td colspan="5"><b>Internet</b></td></tr>
            <tr>
              <td>GM of Operations</td>
              <td>Digital Marketing Director</td>
              <td>Product Manager/Director</td>
              <td>GM of Financial Payments</td>
              <td>Senior Credit Officer - P2P</td>
            </tr>
            <tr>
          </table>
        </div>
      </div>
        
        <!--
        <div class="center-custom-small">
          <h1>Success Stories</h1>
          <div class="about kd-content">
             <b class="bule_2">[Insurance Companies]</b>
             <table style="font-size: 5px;">
                <tr>
                   <td><strong>Property Insurance</strong></td>
                   <td></td>
                   <td><strong>Life Insurance</strong></td>
                   <td></td>
                </tr>
                <tr>
                   <td>Chief Actuary</td>
                   <td>Claims Manager (Marine & Auto)</td>
                   <td rowspan="4">
                      EVP of Sales<br>
                      Chief Marketing Officer<br>
                      Chief Actuary<br>
                      GM of Bancassurance
                   </td>
                   <td rowspan="4">
                      EVP of Operations<br>
                      Director of Fixed Income Investments<br>
                      AVP, Group Insurance
                   </td>
                </tr>
                <tr>
                   <td>Business Administration Manager</td>
                   <td>Business Analyst</td>
                </tr>
                <tr>
                   <td colspan="2">Underwriting Director / Mid-to-Senior Underwriter (Property, Liability, Marine, Auto, Personal Accident, etc.)</td>
                </tr>
                <tr>
                   <td colspan="2">Direct/Reinsurance Brokers (Client Manager, Branch Manager)</td>
                </tr>
             </table>
             <br>
       
             <b class="bule_2">[Banks]</b>
             <table>
                <tr>
                   <td rowspan="2"><strong>Foreign Banks</strong><br>
                      Credit Approval Head<br>
                      Corporate Training Manager<br>
                      Treasury Sales VP<br>
                      China Marketing Head<br>
                      Structured Trade Finance<br>
                      Syndication Analyst AVP
                   </td>
                   <td></td>
                   <td><strong>Domestic Banks</strong></td>
                   <td></td>
                </tr>
                <tr>
                   <td>
                      FI China Head<br>
                      GTS Cash Sales VP<br>
                      TTLC Relationship Manager<br>
                      Senior Credit Analyst<br>
                      Treasury Sales VP
                   </td>
                   <td>
                      Bank President<br>
                      Operations Director<br>
                      Regional Business Director<br>
                      GM of International Business
                   </td>
                   <td>
                      Head of Private Banking<br>
                      Compliance / Audit Director<br>
                      GM of Trade Finance
                   </td>
                </tr>
             </table>
             <br>
             <b class="bule_2">[Investment Firms]</b>
             <table>
                <tr>
                   <td>Chief Representative<br>Investment Director<br>Risk Control Director</td>
                   <td>Partner / Assistant GM<br>Investor Relations Director<br>Industry Research Director</td>
                   <td>Audit Director<br>Head of Tax</td>
                </tr>
             </table>
             <br>
             <b class="bule_2">[Securities Firms]</b>
             <table>
                <tr>
                   <td>GM of Investment Banking<br>SVP of Investment Banking Projects<br>Senior Industry Analyst<br>VP, QFII Dept</td>
                   <td>Director of Research Marketing<br>Sponsor<br>GM of Underwriting Dept<br>GM of Fixed Income Investment</td>
                   <td>Director of Financial Engineering & Products<br>GM of M&A Dept<br>GM of Brokerage Dept<br>GM of Internal Audit</td>
                </tr>
             </table>
             <br>
             <b class="bule_2">[Fund Management Firms]</b>
             <table>
                <tr>
                   <td>CEO of JV Fund (proposed)<br>Senior Strategy Analyst</td>
                   <td>CIO of JV Fund (proposed)<br>Fund Managers (Equity, Bond, Money Market)</td>
                   <td>Institutional Sales Director<br>ETF Investment Manager</td>
                </tr>
             </table>
             <br>
             <b class="bule_2">[Real Estate]</b>
             <table>
                <tr><td colspan="5"><strong>Real Estate Development</strong></td></tr>
                <tr>
                   <td>GM of Urban Development<br>Engineering Manager<br>Leasing Manager</td>
                   <td>GM of Business Unit<br>Deputy GM of Commercial Operations<br>Landscape Designer</td>
                   <td>Chief Architect<br>Interior Fit-Out Manager<br>Cost Control Director</td>
                   <td>Chief Engineer<br>Deputy GM of Safety Supervision<br>Construction Cost Manager</td>
                   <td>Group Deputy GM of Engineering<br>Deputy GM of Finance<br>Senior Legal Manager</td>
                </tr>
                <tr><td colspan="5"><strong>Investment, Financing & Real Estate Finance</strong></td></tr>
                <tr>
                   <td>Investment Director<br>Follow-on Fundraising Manager</td>
                   <td>Macroeconomic Analyst<br>REITS</td>
                </tr>
             </table>
             <br>
             <b class="bule_2">[TMT]</b>
             <table>
                <tr><td colspan="5"><b>Internet</b></td></tr>
                <tr>
                   <td>Deputy GM of Operations<br>UI/UE</td>
                   <td>Digital Marketing Director<br>Deputy GM of Business Operations</td>
                   <td>Product Manager/Director<br>PHP/Java Tech Director</td>
                   <td>GM of Financial Payments<br>Managing Director of Internet Division</td>
                   <td>Senior Credit Officer - P2P<br>C/C++ Product Manager</td>
                </tr>
                <tr><td colspan="5"><b>IT</b></td></tr>
                <tr>
                   <td>Technical Director<br>Director of Software R&D</td>
                   <td>Chief System Architect</td>
                   <td>Cloud Services Project Director</td>
                   <td>Senior Consultant for MM/PP</td>
                   <td>BI/BA</td>
                </tr>
             </table>
             <br>
             <p><b>FinTech</b></p>
             <table>
                <tr>
                   <td>Senior R&D Engineer<br>Product Operations Expert</td>
                   <td>VP of Business Unit<br>AI Specialist</td>
                   <td>Product Expert<br>Big Data Analyst</td>
                   <td>Financial Data Modeling Expert<br>Intelligent Learning Product Expert</td>
                   <td>Loan Approval Expert</td>
                </tr>
             </table>
          </div>
       </div>
      -->
       
        </div>
       
        <div class="foot gray_8 clearfix">
          <a href="/">Website Terms of Use Statement</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Site Map</a>&nbsp;&nbsp;
        </div>
     </body>
     
</html>
