<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>操作准则 - Standard Human Capital</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta name="author" content="www.shbewell.com">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/english_styles.css" rel="stylesheet" type="text/css">
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
  
        <div class="top_back">
        <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
       
        <div class="top_right2 gray_8">
          <a title="Follow our Sina Weibo" target="_blank" href="http://weibo.com/StandardHC">
            <img src="/static/images/home_icon2.gif" border="0">
          </a>
          <a title="Follow our Tencent Weibo" target="_self" href="javascript:;">
            <img src="/static/images/home_icon3.gif" border="0">
          </a>
          <a href="/set_language/zh" class="top_icon_s">Chinese</a>
          <a href="/contact">Contact Us</a>
        </div>
        </div>
       
        <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135028672127.3-uXLKSZ.jpg) center no-repeat;"></div>
       
        <div class="nav_s">
            <ul>
            <li class="nav_1s"><a href="/">Home</a></li>
            <li class="nav_2s nav_s_line"><a href="/about" class="nav_2s_hover">About Us</a>
              <div>
                <span><a href="/about">Management Team</a></span>
                <span><a href="/about_history">Development History</a></span>
                <span><a href="/about_advantage">Business Advantages</a></span>
                <span><a href="/about_cultural_vision">Vision & Culture</a></span>
              </div>
            </li>
            <li class="nav_3s nav_s_line"><a href="/service" class="">Services</a>
              <div>
                <span><a href="/service">Industry-Specific</a></span>
                <span><a href="/service_function_specific">Function-Specific</a></span>
                
                <span><a href="/service_directors">Board Services</a></span>
              </div>
            </li>
            <li class="nav_4s nav_s_line"><a href="/process" class="">Our Process</a>
              <div>
                <span><a href="/process">Leadership Assessment</a></span>
                <span><a href="/process_development">Leadership Development</a></span>
                <span><a href="/process_operating_guidelines">Operating Guidelines</a></span>
              </div>
            </li>
            <li class="nav_5s nav_s_line"><a href="/cases" class="">Cases</a></li>
            <li class="nav_6s nav_s_line"><a href="/contact" class="">Contact Us</a></li>
            </ul>
        </div>
        <script type="text/javascript">
        $('.nav_6').hide();
        </script>
       
        <div class="main">
       
          <div class="left">
            <div class="menu">
              <ul>
                <li><a href="/process" class="">Leadership Assessment</a></li>
                <li><a href="/process_development" class="">Leadership Development</a></li>
                <li><a href="/process_operating_guidelines" class="menu_hover">Operating Guidelines</a></li>
              </ul>
            </div>
          </div>
       
          <div class="center">
            <h1>Operating Guidelines</h1>
            <div class="about kd-content">
              <span style="display:block;padding-top:10px;">
                We aim to build long-term relationships with our clients based on mutual trust and honesty.
                We believe that after a period of cooperation, we can gain an understanding of the client’s organizational style, culture, personality, and dynamics. 
                This enables us to deliver value-added services through proactive and objective recommendations.
                <br><br>
                We believe our clients recognize our value and regard Standard as their preferred executive search firm.
                We fully demonstrate our capabilities and do our utmost to honor our commitments to both clients and candidates.
                In our search work, we safeguard their reputations as if they were our own.
                <br><br>
                Standard's reputation enables us to credibly mobilize candidates to consider opportunities at client companies.
                <br>
                We serve our clients and are compensated solely by them. Our goal is to help clients identify and attract outstanding talent. Clients always make the final decision.
                <br>
                We provide clients with appropriate information about candidates, and likewise, we provide candidates with appropriate information about the client organization and the position. 
                This ensures the highest level of satisfaction for both parties.
                <br><br>
                Only when a client confirms that Standard is engaged to provide services, and with the candidate’s consent, will we share detailed candidate information with the client.
              </span>
            </div>
          </div>
       
          <div class="right">
            <div class="right_img1"></div>
            <div id="small" class="right_img" style="background:url(../static/uploadfiles/page/2012-10/135028672127.1-LLBGlX.jpg); "></div>
            <div id="big" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135028672126.53-gxCpLV.jpg); display: none;"></div>
          </div>
       
        </div>
       
        <div class="foot gray_8 clearfix">
          <a href="/">Website Terms of Use Statement</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Site Map</a>&nbsp;&nbsp;
        </div>
     </body>
     
</html>
