<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>行业专项业务 - Standard Human Capital</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta name="author" content="www.shbewell.com">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/english_styles.css" rel="stylesheet" type="text/css">
    
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/english_styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
  
        <div class="top_back">
        <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
       
        <div class="top_right2 gray_8">
          <a title="Follow our Sina Weibo" target="_blank" href="http://weibo.com/StandardHC">
            <img src="/static/images/home_icon2.gif" border="0">
          </a>
          <a title="Follow our Tencent Weibo" target="_self" href="javascript:;">
            <img src="/static/images/home_icon3.gif" border="0">
          </a>
          <a href="/set_language/zh" class="top_icon_s">Chinese</a>
          <a href="/contact">Contact Us</a>
        </div>
        </div>
       
        <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135028639975.7-AjVdBt.jpg) center no-repeat;"></div>
       
        <div class="nav_s">
            <ul>
            <li class="nav_1s"><a href="/">Home</a></li>
            <li class="nav_2s nav_s_line"><a href="/about" class="nav_2s_hover">About Us</a>
              <div>
                <span><a href="/about">Management Team</a></span>
                <span><a href="/about_history">Development History</a></span>
                <span><a href="/about_advantage">Business Advantages</a></span>
                <span><a href="/about_cultural_vision">Vision & Culture</a></span>
              </div>
            </li>
            <li class="nav_3s nav_s_line"><a href="/service" class="">Services</a>
              <div>
                <span><a href="/service">Industry-Specific</a></span>
                <span><a href="/service_function_specific">Function-Specific</a></span>
                
                <span><a href="/service_directors">Board Services</a></span>
              </div>
            </li>
            <li class="nav_4s nav_s_line"><a href="/process" class="">Our Process</a>
              <div>
                <span><a href="/process">Leadership Assessment</a></span>
                <span><a href="/process_development">Leadership Development</a></span>
                <span><a href="/process_operating_guidelines">Operating Guidelines</a></span>
              </div>
            </li>
            <li class="nav_5s nav_s_line"><a href="/cases" class="">Cases</a></li>
            <li class="nav_6s nav_s_line"><a href="/contact" class="">Contact Us</a></li>
            </ul>
        </div>
        <script type="text/javascript">
        $('.nav_6').hide();
        </script>
       
        <div class="main">
       
          <div class="left">
            <div class="menu">
              <ul>
                <li><a href="/service" class="menu_hover">Industry-Specific</a></li>
                <li><a href="/service_function_specific" class="">Function-Specific</a></li>
                <li><a href="/service_caiwuguanlizixun" class="">Wealth Management</a></li>
                <li><a href="/service_directors" class="">Board Services</a></li>
              </ul>
            </div>
          </div>
       
          <div class="center">
            <h1>Industry-Specific</h1>
            <div class="about kd-content">
              <span class="bule_2" style="display:block;margin-left:-4px;padding-top:10px;"><b>[Financial & Technology Services Experts]</b></span>
              <span style="border-bottom:#aaa 1px dashed;padding-bottom:20px;display:block;">
                <p>
                STANDARD possesses the most comprehensive financial technology talent resources and recruitment expertise, backed by a team of seasoned headhunters providing professional and full-spectrum human capital services.<br><br>
                With a robust information database and extensive talent pool, and a uniquely distributed network, talent search becomes effortless.<br><br>
                To better understand our clients’ unique talent needs, we operate nationwide. Our financial technology industry services are aligned with clients’ product-driven structures to deliver the most effective support. We bring together the best consulting team to serve your local, regional, or strategic goals, ensuring you maintain a strong competitive edge.<br><br>
                The STANDARD finance and accounting team provides one-stop human capital solutions and is committed to being a long-term strategic partner to our clients.
                </p>
              </span>
     
              <span class="bule_2" style="display:block;margin-left:-4px;padding-top:10px;"><b>[Banking Services]</b></span>
              <span style="border-bottom:#aaa 1px dashed;padding-bottom:20px;display:block;">
                <p>
                Specialized client services for various types of banks. Our precise approach in these markets ensures outstanding service in quality, speed, and efficiency. Our expertise spans across corporate finance, vertical industry management, M&A, cash and derivative assets, fixed income markets, research in all domains, commodities and foreign exchange, financing, and private wealth.<br><br>
                Our clients range from global foreign-invested banks to regional commercial banks.
                </p>
              </span>
     
              <span class="bule_2" style="display:block;margin-left:-4px;padding-top:10px;"><b>[Insurance Services]</b></span>
              <span style="border-bottom:#aaa 1px dashed;padding-bottom:20px;display:block;">
                <p>
                The traditional insurance sector is filled with acquisitions, mergers, and competition-driven eliminations. STANDARD’s insurance practice focuses on recruiting senior executives for insurance clients. We help find visionary leaders who can lead insurance-based financial service organizations into a new era.
                </p>
              </span>
     
              <span class="bule_2" style="display:block;margin-left:-4px;padding-top:10px;"><b>[Securities & Fund Services]</b></span>
              <span style="border-bottom:#aaa 1px dashed;padding-bottom:20px;display:block;">
                <p>
                STANDARD’s securities and fund practice has a solid track record, credibility, and recognition. Through our proprietary database, we not only know where people are, but also where they come from. People respond to our outreach—including potential candidates and sources. Our professional network enables us to reach deep into the industry to find securities and fund advisors, accountants, business agents, and contacts in investment and other fund groups.<br><br>
                Our services help uncover potential candidates you may not even know exist.
                </p>
              </span>
     
              <span class="bule_2" style="display:block;margin-left:-4px;padding-top:10px;"><b>[Real Estate Financial Services]</b></span>
              <span style="border-bottom:#aaa 1px dashed;padding-bottom:20px;display:block;">
                <p>
                Our real estate and construction practice supports growing real estate, construction, and finance sectors including REITs, development, management, and financial services—as well as construction, materials supply, project management, facility management, and related service providers by recruiting top business leaders.
                </p>
              </span>
     
              <span class="bule_2" style="display:block;margin-left:-4px;padding-top:10px;"><b>[Fintech Services]</b></span>
              <span style="border-bottom:1px dashed #aaaaaa;padding-bottom:20px;display:block;">
                <p>
                With the rapid growth of the fintech industry, STANDARD has leveraged its deep experience in related sectors from the outset—building top-tier connections and delivering human capital services to leading companies both domestically and internationally.
                </p>
              </span>
            </div>
          </div>
       
          <div class="right">
            <div class="right_img1"></div>
            <div id="small" class="right_img" style="background:url(../static/uploadfiles/page/2012-10/135028644772.43-gkkApW.jpg); "></div>
            <div id="big" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135028644772.07-pFFFdz.jpg); display: none;"></div>
          </div>
       
        </div>
       
        <div class="foot gray_8 clearfix">
          <a href="/">Website Terms of Use Statement</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Site Map</a>&nbsp;&nbsp;
        </div>
     </body>
</html>
