
h1 {
    font-size: 8vh;
    /*font-size: clamp(30px, 4vw, 60px);*/

}

h2 {
    font-size: 6vh;
    /*font-size: clamp(25px, 3vw, 30px);*/
}

h3 {
    font-size: 4vh;
    /* font-size: clamp(20px, 3vw, 25px); */
}




.hero {
    background: rgb(0, 26, 88);
}








