
h1 {
    font-size: 4vw;
    font-size: clamp(30px, 4vw, 60px);

}

h2 {
    font-size: 3.5vw;
    font-size: clamp(25px, 3vw, 30px);
}

h3 {
    font-size: 3vw;
    font-size: clamp(20px, 3vw, 25px);
}

