<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>管理层 - 新坦达（上海）资产管理有限公司</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
    
    <div class="top_back">
    <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
    
    <div class="top_right2 gray_8"><a title="关注我们的新浪微博" target="_blank" href="http://weibo.com/StandardHC"><img src="/static/images/home_icon2.gif" border="0"></a><a title="关注我们的腾讯微博" target="_self" href="javascript:;"><img src="/static/images/home_icon3.gif" border="0"></a>
    <a href="/set_language/en" class="top_icon_s">English</a>
    
    <a href="/contact">联系我们</a></div>
    </div>
    
    <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135027634757.23-bfKOrF.jpg) center no-repeat;"></div>
    
    <div class="nav_s">
    <ul>
    <li class="nav_1s" style="width:95px;"><a href="/"></a>
    </li><li class="nav_2s nav_s_line"><a href="/about" class="nav_2s_hover"></a>
    <div>
    <span><a href="/about" style="padding-left:34px; width:81px;">管理层</a></span>
    <span><a href="/about_history" style="padding-left:34px; width:81px;">发展历程</a></span>
    
    <span><a href="/about_cultural_vision" style="padding-left:34px; width:81px;">愿景文化</a></span>
    </div>
    </li>
    <li class="nav_3s nav_s_line"><a href="/service" class=""></a>
    <div>
    <span><a href="/service">行业专项业务</a></span>
    <span><a href="/service_function_specific">职能专项业务</a></span>
    
    <span><a href="/service_directors">董事会服务</a></span>
    </div>
    </li>
    <li class="nav_4s nav_s_line"><a href="/process" class=""></a>
    <div>
    <span><a href="/process">企业领袖评估</a></span>
    <span><a href="/process_development">企业领袖发展</a></span>
    <span><a href="/process_operating_guidelines">操作准则</a></span>
    </div>
    </li>
    <li class="nav_5s nav_s_line"><a href="/cases" class=""></a>
    </li>
    <li class="nav_6s nav_s_line"><a href="/contact" class=""></a>
    </li>
    </ul>
    </div>
    <script type="text/javascript">
    $('.nav_6').hide();
    </script>
    
    
    <div class="main">
    
    <div class="left">
    <div class="menu">
    <ul>
    <li><a href="/about" class="menu_hover">管理层</a></li>
    <li><a href="/about_history" class="">发展历程</a></li>
    
    <li><a href="/about_cultural_vision" class="">愿景文化</a></li>
    
    <li><a href="/contact" class="">联系我们</a></li>
    </ul>
    </div>  </div>
    
    <div class="center">
        <h1>管理层</h1>
        <div class="about kd-content">
          <p><strong>管理团队</strong></p>
      
          <p>标准人力资本公司的管理团队由来自中国、美国等具有多元背景的资深专业人士组成。</p>
      
          <p>• <strong>经验：</strong>团队成员拥有超过10年的跨境人才战略和高端人才猎头经验，部分资深领导者拥有20至30年的全球市场拓展经验。</p>
      
          <p><strong>多维服务体系：</strong></p>
      
          <p>• <strong>技术重点：</strong>聚焦人工智能和云计算等前沿技术。</p>
      
          <p>• <strong>金融领域：</strong>覆盖银行、私募股权和风险投资等行业。</p>
      
          <p>• <strong>企业职能：</strong>涉及战略规划和投融资等核心职能。</p>
      
          <p>• <strong>人才获取：</strong>在亚洲、北美和欧洲等地搜寻中高级别人才，将区域人才需求与全球人才资源相匹配。</p>
        </div>
      </div>
      
    
    <div class="right">
    <div class="right_img1"></div>
    <div id="small" class="right_img" style="background:url(../static/uploadfiles/page/2012-10/135027759228.9-nSITAr.jpg); "></div>
    <div id="big" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135027634756.72-RuKcKb.jpg); display: none;"></div>
    </div>
    
    
    </div>
    
    <div class="foot gray_8 clearfix"><a href="/">网站使用条款声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/">网站地图</a>&nbsp;&nbsp;
    
    </div>
    </body></html>
    
