<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>成功案例 - 新坦达（上海）资产管理有限公司</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta name="author" content="www.shbewell.com">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
    
    <div class="top_back">
    <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
    
    <div class="top_right2 gray_8"><a title="关注我们的新浪微博" target="_blank" href="http://weibo.com/StandardHC"><img src="/static/images/home_icon2.gif" border="0"></a><a title="关注我们的腾讯微博" target="_self" href="javascript:;"><img src="/static/images/home_icon3.gif" border="0"></a>
    <a href="/set_language/en" class="top_icon_s">English</a>
    
    <a href="/contact">联系我们</a></div>
    </div>
    
    <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135031124187.08-gHDbzw.jpg) center no-repeat;"></div>
    
    <div class="nav_s">
    <ul>
    <li class="nav_1s" style="width:95px;"><a href="/"></a>
    </li><li class="nav_2s nav_s_line"><a href="/about" class=""></a>
    <div>
    <span><a href="/about" style="padding-left:34px; width:81px;">管理层</a></span>
    <span><a href="/about_history" style="padding-left:34px; width:81px;">发展历程</a></span>
    <span><a href="/about_advantage" style="padding-left:34px; width:81px;">业务优势</a></span>
    <span><a href="/about_cultural_vision" style="padding-left:34px; width:81px;">愿景文化</a></span>
    </div>
    </li>
    <li class="nav_3s nav_s_line"><a href="/service" class=""></a>
    <div>
    <span><a href="/service">行业专项业务</a></span>
    <span><a href="/service_function_specific">职能专项业务</a></span>
    
    <span><a href="/service_directors">董事会服务</a></span>
    </div>
    </li>
    <li class="nav_4s nav_s_line"><a href="/process" class=""></a>
    <div style="display: none;">
    <span><a href="/process">企业领袖评估</a></span>
    <span><a href="/process_development">企业领袖发展</a></span>
    <span><a href="/process_operating_guidelines">操作准则</a></span>
    </div>
    </li>
    <li class="nav_5s nav_s_line"><a href="/cases" class="nav_5s_hover"></a>
    </li>
    <li class="nav_6s nav_s_line"><a href="/contact" class=""></a>
    </li>
    </ul>
    </div>
    <script type="text/javascript">
    $('.nav_6').hide();
    </script>
    
    
    <div class="main">
    
    <div class="left">
    <div class="menu" style="padding-bottom:0px;">
    <ul>
    <li>
    <a class="menu_hover" href="/cases">成功案例</a>
    </li>
    </ul>
    </div>
    
    <div class="left_img"></div>
    </div>
    
    <div class="center">
        <h1>案例展示</h1>
        <br>
        <div style="transform: translate(15px, 0px);">
      
          <div style="border-bottom:1px solid #a8a8a8;">
            <br>
            <h2><b>【科技领域】</b></h2>
            <br>
      
            <h3><b>人工智能与机器学习</b></h3>
            <ul>
              <li>人工智能技术总监</li>
              <li>高级机器学习专家</li>
              <li>自然语言处理技术负责人</li>
              <li>人工智能产品总监</li>
            </ul>
            <br>
      
            <h3><b>云计算与基础设施</b></h3>
            <ul>
              <li>云架构总监</li>
              <li>DevOps专家</li>
              <li>高级云安全专家</li>
              <li>边缘计算技术负责人</li>
            </ul>
            <br>
      
            <h3><b>数据技术与大数据</b></h3>
            <ul>
              <li>数据技术总监</li>
              <li>高级大数据专家</li>
              <li>数据架构负责人</li>
              <li>数据可视化专家</li>
            </ul>
            <br>
      
            <h3><b>网络安全与隐私保护</b></h3>
            <ul>
              <li>网络安全总监</li>
              <li>高级隐私与合规专家</li>
              <li>网络安全技术负责人</li>
              <li>信息安全架构师</li>
            </ul>
            <br>
      
            <h3><b>互联网与平台技术</b></h3>
            <ul>
              <li>平台技术总监</li>
              <li>高级区块链专家</li>
              <li>前端技术负责人</li>
              <li>产品运营总监</li>
            </ul>
            <br>
          </div>
      
          <div style="border-bottom:1px solid #a8a8a8;">
            <br>
            <h2><b>【金融领域】</b></h2>
            <br>
      
            <h3><b>银行业</b></h3>
            <ul>
              <li>风险管理副总裁</li>
              <li>金融科技产品总监</li>
              <li>高级绿色金融经理</li>
              <li>公司银行业务总监</li>
              <li>数字银行创新总监</li>
            </ul>
            <br>
      
            <h3><b>证券投资</b></h3>
            <ul>
              <li>投资银行副总裁</li>
              <li>量化投资总监</li>
              <li>首席行业分析师</li>
              <li>合规与监管经理</li>
              <li>资产证券化负责人</li>
            </ul>
            <br>
      
            <h3><b>基金、私募股权与风险投资</b></h3>
            <ul>
              <li>投资合伙人</li>
              <li>投后管理总监</li>
              <li>高级ESG投资经理</li>
              <li>募资经理</li>
              <li>高级基金运营专员</li>
            </ul>
            <br>
      
            <h3><b>保险业</b></h3>
            <ul>
              <li>首席精算师</li>
              <li>保险科技应用总监</li>
              <li>再保险业务经理</li>
              <li>高级理赔管理经理</li>
              <li>保险资管投资经理</li>
            </ul>
            <br>
      
            <h3><b>金融科技（FinTech）</b></h3>
            <ul>
              <li>区块链金融首席专家</li>
              <li>智能投顾系统架构师</li>
              <li>金融大数据分析总监</li>
              <li>支付技术研发负责人</li>
              <li>开放银行平台负责人</li>
            </ul>
            <br>
          </div>
      
          <div>
            <br>
            <h2><b>【跨境领域】</b></h2>
            <br>
      
            <h3><b>市场营销</b></h3>
            <ul>
              <li>首席市场官（CMO）</li>
              <li>跨境市场拓展总监</li>
              <li>数字营销负责人</li>
              <li>高级品牌战略经理</li>
              <li>客户增长与留存经理</li>
            </ul>
            <br>
      
            <h3><b>产品、供应链与渠道管理</b></h3>
            <ul>
              <li>产品战略总监</li>
              <li>全球供应链运营总经理</li>
              <li>全渠道销售管理副总裁</li>
              <li>产品研发与创新负责人</li>
              <li>高级跨境供应链优化经理</li>
            </ul>
            <br>
      
            <h3><b>财务与合规</b></h3>
            <ul>
              <li>首席财务官（CFO）</li>
              <li>跨境税务筹划总监</li>
              <li>全球合规与风险控制负责人</li>
              <li>高级资金管理经理</li>
              <li>财务分析与战略规划负责人</li>
            </ul>
            <br>
      
            <h3><b>人力资源管理</b></h3>
            <ul>
              <li>首席人力资源官（CHRO）</li>
              <li>人才管理总监</li>
              <li>组织发展与变革管理经理</li>
              <li>跨文化领导力培训负责人</li>
              <li>薪酬福利体系架构师</li>
            </ul>
            <br>
      
            <h3><b>跨境科技</b></h3>
            <ul>
              <li>人工智能商业化副总裁</li>
              <li>跨境数据治理与安全总监</li>
              <li>云计算与技术架构首席专家</li>
              <li>智能产品研发总经理</li>
              <li>多语言AI交互技术负责人</li>
            </ul>
            <br>
          </div>
      
          <br><br>
      
        </div>
      </div>
      
    
    <div class="right">
    <div class="right_img1"></div>
    <div id="small" class="right_img" style="background:url(../static/uploadfiles/page/2012-10/135031124186.8-WMUhwK.jpg); "></div>
    <div id="big" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135031124184.4-vKZoZE.jpg); display: none;"></div>
    </div>
    
    
    </div>
    
    <div class="foot gray_8 clearfix"><a href="/">网站使用条款声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/">网站地图</a>&nbsp;&nbsp;
    
    </div>
    </body></html>
