<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>成功案例 - 新坦达（上海）资产管理有限公司</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta name="author" content="www.shbewell.com">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
    <!--[if !IE]>首页头部开始<![endif]-->
    <div class="top_back">
    <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
    <!--<h2><a href="/"><img src="/static/images/33.jpg" border="0" /></a></h2>-->
    <div class="top_right2 gray_8"><a title="关注我们的新浪微博" target="_blank" href="http://weibo.com/StandardHC"><img src="/static/images/home_icon2.gif" border="0"></a><a title="关注我们的腾讯微博" target="_self" href="javascript:;"><img src="/static/images/home_icon3.gif" border="0"></a>
    <a href="javascript:void(0)" class="top_icon_s">English</a>
    <!-- <a href="" class="top_icon2">招聘</a> -->
    <a href="/contact">联系我们</a></div>
    </div>
    <!--[if !IE]>首页头部结束<![endif]-->
    <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135031124187.08-gHDbzw.jpg) center no-repeat;"></div>
    <!--[if !IE]>内页导航开始<![endif]-->
    <div class="nav_s">
    <ul>
    <li class="nav_1s" style="width:95px;"><a href="/"></a>
    </li><li class="nav_2s nav_s_line"><a href="/about" class=""></a>
    <div>
    <span><a href="/about" style="padding-left:34px; width:81px;">管理层</a></span>
    <span><a href="/about_history" style="padding-left:34px; width:81px;">发展历程</a></span>
    <span><a href="/about_advantage" style="padding-left:34px; width:81px;">业务优势</a></span>
    <span><a href="/about_cultural_vision" style="padding-left:34px; width:81px;">愿景文化</a></span>
    </div>
    </li>
    <li class="nav_3s nav_s_line"><a href="/service" class=""></a>
    <div>
    <span><a href="/service">行业专项业务</a></span>
    <span><a href="/service_function_specific">职能专项业务</a></span>
    <span><a href="/service_caiwuguanlizixun">财富管理咨询</a></span>
    <span><a href="/service_directors">董事会服务</a></span>
    </div>
    </li>
    <li class="nav_4s nav_s_line"><a href="/process" class=""></a>
    <div style="display: none;">
    <span><a href="/process">企业领袖评估</a></span>
    <span><a href="/process_development">企业领袖发展</a></span>
    <span><a href="/process_operating_guidelines">操作准则</a></span>
    </div>
    </li>
    <li class="nav_5s nav_s_line"><a href="/cases" class="nav_5s_hover"></a>
    </li>
    <li class="nav_6s nav_s_line"><a href="/contact" class=""></a>
    </li>
    </ul>
    </div>
    <script type="text/javascript">
    $('.nav_6').hide();
    </script><!--[if !IE]>内页导航结束<![endif]-->
    
    <!--[if !IE]>主要内容开始<![endif]-->
    <div class="main">
    
    <div class="left">
    <div class="menu" style="padding-bottom:0px;">
    <ul>
    <li>
    <a class="menu_hover" href="/cases">成功案例</a>
    </li>
    </ul>
    </div>
    
    <div class="left_img"></div>
    </div>
    
    <div class="center">
    <h1>成功案例</h1>
    <div class="about kd-content">
    <b class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;">【保险公司】</b> <span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:8px;margin-bottom:15px;"> <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
    <td width="28%"><strong>财产保险</strong></td>
    <td width="31%">&nbsp;</td>
    <td width="19%"><strong>寿险</strong></td>
    <td width="22%">&nbsp;</td>
    </tr>
    <tr>
    <td>精算总监</td>
    <td>理赔经理（水险车险）</td>
    <td rowspan="4">首席销售副总裁<br>
    首席市场营销官<br>
    总精算师<br>
    银行保险部总经理 <br>
    </td>
    <td rowspan="4">首席营运副总裁<br>
    固定收益投资总监<br>
    团险部助理副总裁</td>
    </tr>
    <tr>
    <td>业管部经理 </td>
    <td>业务分析师</td>
    </tr>
    <tr>
    <td colspan="2">核保总监/中高级核保（财产险责任险水险车险人意险等）</td>
    </tr>
    <tr>
    <td colspan="2">直保/再保经纪人（客户经理，分公司经理）</td>
    </tr>
    </tbody>
    </table>
    </span> <b class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;">【银行】</b> <span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:8px;margin-bottom:15px;"> <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
    <td rowspan="2" valign="top" width="33%"><strong>外资银行</strong><br>
    Credit approval head<br>
    Corporate Training Manager <br>
    Treasury Sales VP<br>
    China Marketing Head<br>
    Structured Trade Finance<br>
    Syndication Analyst AVP
    </td>
    <td valign="top" width="27%">&nbsp;</td>
    <td valign="top" width="21%"><strong>中资银行</strong></td>
    <td width="19%">&nbsp;</td>
    </tr>
    <tr>
    <td valign="top">FI China Head <br>
    GTS Cash Sales VP <br>
    TTLC Relationship Manager <br>
    Senior Credit Analyst <br>
    Treasury Sales VP </td>
    <td valign="top" width="21%">行长<br>
    运营主管<br>
    区域业务总监<br>
    国际业务部总经理 </td>
    <td valign="top" width="19%">私人银行负责人<br>
    合规总监/审计总监<br>
    贸易融资部总经理</td>
    </tr>
    </tbody>
    </table>
    </span> <b class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;">【投资公司】</b> <span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:8px;margin-bottom:15px;"> <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
    <td valign="top" width="32%">首席代表<br>
    投资总监<br>
    风控总监</td>
    <td valign="top" width="39%">合伙人/总经理助理<br>
    投资者关系总监<br>
    行业研究总监</td>
    <td valign="top" width="29%">审计总监<br>
    税务负责人</td>
    </tr>
    </tbody>
    </table>
    </span> <b class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;">【证劵公司】</b> <span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:8px;margin-bottom:15px;"> <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
    <td valign="top" width="32%">投行总经理<br>
    投行项目部高级副总裁<br>
    高级行业研究分析师<br>
    QFII业务部副总裁<br>
    </td>
    <td valign="top" width="39%">研究所营销策划总监<br>
    保荐人<br>
    证券承销部总经理<br>
    固定收益部投资总经理</td>
    <td valign="top" width="29%">金融工程及产品总监<br>
    并购部总经理<br>
    经纪业务部总经理<br>
    稽核部总经理</td>
    </tr>
    </tbody>
    </table>
    </span> <b class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;">【基金公司】</b> <span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:8px;margin-bottom:15px;"> <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
    <td valign="top" width="32%">合资基金公司（筹）首席执行官<br>
    策略研究高级经理<br>
    <br>
    </td>
    <td valign="top" width="39%">合资基金公司（筹）首席投资官<br>
    基金经理（股票型，债券型，货币型）</td>
    <td valign="top" width="29%">金融机构渠道销售总监<br>
    ETF投资经理</td>
    </tr>
    </tbody>
    </table>
    </span> <p><b class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;"><b class="bule_2" style="line-height:18px;display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;">【房地产】</b></b></p>
    <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td colspan="5"><strong>房地产开发</strong></td>
    </tr>
    <tr><td valign="top">城市公司总经理<br>
    工程经理<br>
    招商经理<br>
    </td>
    <td valign="top">事业部总经理<br>
    商业运营副总<br>
    景观设计师</td>
    <td valign="top">总建筑师<br>
    精装修经理<br>
    成本总监<br>
    </td>
    <td valign="top">总工程师<br>
    安监副总<br>
    土建成本经理</td>
    <td valign="top">集团工程副总<br>
    理财务副总经理<br>
    法务高级经理</td>
    </tr>
    <tr><td colspan="5" valign="top" style="padding-top:14px;"><strong>投融资及地产金融</strong></td>
    </tr>
    <tr><td valign="top">投资总监<br>
    再募集经理</td>
    <td valign="top">宏观经济分析师<br>
    REITS</td>
    </tr>
    </tbody>
    </table>
    <p><b class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;padding-bottom:5px;">【TMT】</b></p>
    <p><span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:8px;margin-bottom:15px;"></span></p><table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
    <td colspan="5"><b>互联网</b></td>
    </tr>
    <tr>
    <td valign="top">运营副总<br>
    UI/UE<br>
    </td>
    <td valign="top">数字营销总监<br>
    商业运营副总<br>
    &nbsp; &nbsp;</td>
    <td valign="top">产品经理/总监<br>
    PHP/Java技术总监<br>
    <br>
    </td>
    <td valign="top">金融支付总经理<br>
    互联网部门董事总经理<br>
    <br>
    </td>
    <td valign="top">P2P高级信审<br>
    C/C++产品经理<br>
    <br>
    </td>
    </tr>
    <tr><td colspan="5" style="padding-top:14px;" valign="top"><table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:Verdana, 宋体;"><tbody><tr><td colspan="5"><b>IT</b></td>
    </tr>
    <tr><td valign="top">技术总监<br>
    软件研发总监</td>
    <td valign="top">首席系统构架师<br>
    &nbsp; &nbsp;</td>
    <td valign="top">云服务项目总监<br>
    <br>
    </td>
    <td valign="top">MM PP资深顾问<br>
    <br>
    <br>
    </td>
    <td valign="top">BI/BA<br>
    <br>
    </td>
    </tr>
    </tbody>
    </table>
    <p><b style="font-family:Verdana, 宋体;font-size:12px;">金融科技</b></p>
    </td>
    </tr>
    </tbody>
    </table>
    <p></p>
    <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td valign="top">资深研发工程师<br>
    产品运营专家</td>
    <td valign="top">事业部副总裁<br>
    AI领域专家 &nbsp;&nbsp;</td>
    <td valign="top">产品专家<br>
    大数据分析</td>
    <td valign="top">金融数据模型专家<br>
    智能学习产品专家<br>
    <br>
    </td>
    <td valign="top">贷款审批专家<br>
    </td>
    </tr>
    </tbody>
    </table>
    &nbsp;&nbsp;<p></p>
    <table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td colspan="5" style="padding-top:14px;" valign="top"><table class="ke-zeroborder" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:Verdana, 宋体;"></table>
    </td>
    </tr>
    </tbody>
    </table>        </div>
    </div>
    
    <div class="right">
    <div class="right_img1"></div>
    <div id="small" class="right_img" style="background:url(../static/uploadfiles/page/2012-10/135031124186.8-WMUhwK.jpg); "></div>
    <div id="big" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135031124184.4-vKZoZE.jpg); display: none;"></div>
    </div>
    
    
    </div>
    <!--[if !IE]>主要内容结束<![endif]-->
    <div class="foot gray_8 clearfix"><a href="/">网站使用条款声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/">网站地图</a>&nbsp;&nbsp;
    <!--<SCRIPT LANGUAGE="JavaScript" >
    document.writeln("<a href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120329174136346'><img src='/static/images/icon_ss.gif' border=0></a>")</SCRIPT> -->
    </div>
    <div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb"><div id="shadow-host-companion"></div></div></body></html>