<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>企业领袖评估 - 新坦达（上海）资产管理有限公司</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta name="author" content="www.shbewell.com">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
    
    <div class="top_back">
    <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
    
    <div class="top_right2 gray_8"><a title="关注我们的新浪微博" target="_blank" href="http://weibo.com/StandardHC"><img src="/static/images/home_icon2.gif" border="0"></a><a title="关注我们的腾讯微博" target="_self" href="javascript:;"><img src="/static/images/home_icon3.gif" border="0"></a>
    <a href="/set_language/en" class="top_icon_s">English</a>
    
    <a href="/contact">联系我们</a></div>
    </div>
    
    <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135028669214.54-YzpnNr.jpg) center no-repeat;"></div>
    
    <div class="nav_s">
    <ul>
    <li class="nav_1s" style="width:95px;"><a href="/"></a>
    </li><li class="nav_2s nav_s_line"><a href="/about" class=""></a>
    <div>
    <span><a href="/about" style="padding-left:34px; width:81px;">管理层</a></span>
    <span><a href="/about_history" style="padding-left:34px; width:81px;">发展历程</a></span>
    <span><a href="/about_advantage" style="padding-left:34px; width:81px;">业务优势</a></span>
    <span><a href="/about_cultural_vision" style="padding-left:34px; width:81px;">愿景文化</a></span>
    </div>
    </li>
    <li class="nav_3s nav_s_line"><a href="/service" class=""></a>
    <div>
    <span><a href="/service">行业专项业务</a></span>
    <span><a href="/service_function_specific">职能专项业务</a></span>
    
    <span><a href="/service_directors">董事会服务</a></span>
    </div>
    </li>
    <li class="nav_4s nav_s_line"><a href="/process" class="nav_4s_hover"></a>
    <div>
    <span><a href="/process">企业领袖评估</a></span>
    <span><a href="/process_development">企业领袖发展</a></span>
    <span><a href="/process_operating_guidelines">操作准则</a></span>
    </div>
    </li>
    <li class="nav_5s nav_s_line"><a href="/cases" class=""></a>
    </li>
    <li class="nav_6s nav_s_line"><a href="/contact" class=""></a>
    </li>
    </ul>
    </div>
    <script type="text/javascript">
    $('.nav_6').hide();
    </script>
    
    
    <div class="main">
    
    <div class="left">
    <div class="menu">
    <ul>
    <li><a href="/process" class="menu_hover">企业领袖评估</a></li>
    <li><a href="/process_development" class="">企业领袖发展</a></li>
    <li><a href="/process_operating_guidelines" class="">操作准则</a></li>
    </ul>
    </div>  </div>
    
    <div class="center">
    <h1>企业领袖评估</h1>
    <div class="about kd-content">
    <span style="display:block;padding-top:10px;"> 要提高企业竞争力，就必须了解领导团队的实力和潜能。<br>
    Standard企业领袖评估服务帮助成功的企业获得最佳领导资本，我们对客户的领导队伍能力进行客观的评估，并针对个人如何有更佳的作为提出建议。<br>
    我们使用的方法学，经过先进的临床心理学验证，能精确预计领导层的影响力，并以极为准确且具有统计学意义和相关性的方法比较相同及跨行业实力。</span><br>
    企业领袖评估能够提高领导影响力，特别在企业处于变革的时候。<br>
    <br>
    <b>优化竞争力：</b>获得最佳领导资本，成为市场中最具竞争力的企业。<br>
    <b>接替计划：</b>实现领导层的平稳过渡，增强股东信心。 <br>
    <b>新任CEO：</b>帮助新任CEO迅速为他们的组织作出重要贡献。<br>
    <b>合并与收购：</b>帮助合并企业完成最具挑战的任务-留住最有能力的领导。<br>
    <b>私人股票投资：</b>在付出您的心血之前、之中和之后，提供有价值的信息。        </div>
    </div>
    
    <div class="right">
    <div class="right_img1"></div>
    <div id="small" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135028669214.24-cUcpDH.jpg); display: block;"></div>
    <div id="big" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135028669213.47-EplTPL.jpg); display: none;"></div>
    </div>
    
    
    </div>
    
    <div class="foot gray_8 clearfix"><a href="/">网站使用条款声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/">网站地图</a>&nbsp;&nbsp;
    
    </div>
    </body></html>
