<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>职能专项业务 - 新坦达（上海）资产管理有限公司</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="ALL">
    <meta name="author" content="www.shbewell.com">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">

    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    
    
    <script>
    $(window).resize(function(){if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    } });
    $(function(){
    if (document.body.clientWidth >= 1400){
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#big').show();$('#small').hide();
    }else{
    document.getElementsByTagName("link")[0].href="/static/css/styles.css";
    $('#small').show();$('#big').hide();
    }
    $('.nav_s li').hover(
    function(){
    $(this).find('div').show();
    },
    function(){
    $(this).find('div').hide();
    }
    );
    $('.nav_s li[className!="hover"]').hover(
    function(){
    $(this).toggleClass('hover',true);
    },
    function(){
    $(this).toggleClass('hover',false);
    }
    );
    });
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="Bookmark" href="/favicon.ico">
    <style type="text/css">
    @font-face {
    font-family: 'Atlassian Sans';
    font-style: normal;
    font-weight: 400 653;
    font-display: swap;
    src:
    local('AtlassianSans'),
    local('Atlassian Sans Text'),
    url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/AtlassianSans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }</style></head>
    
    <body>
    
    <div class="top_back">
    <h1><a href="/"><img src="/static/images/logo_2.gif" border="0"></a></h1>
    
    <div class="top_right2 gray_8"><a title="关注我们的新浪微博" target="_blank" href="http://weibo.com/StandardHC"><img src="/static/images/home_icon2.gif" border="0"></a><a title="关注我们的腾讯微博" target="_self" href="javascript:;"><img src="/static/images/home_icon3.gif" border="0"></a>
    <a href="/set_language/en" class="top_icon_s">English</a>
    
    <a href="/contact">联系我们</a></div>
    </div>
    
    <div class="banner" style=" background:url(../static/uploadfiles/page/2012-10/135028640599.85-XHKVso.jpg) center no-repeat;"></div>
    
    <div class="nav_s">
    <ul>
    <li class="nav_1s" style="width:95px;"><a href="/"></a>
    </li><li class="nav_2s nav_s_line"><a href="/about" class=""></a>
    <div>
    <span><a href="/about" style="padding-left:34px; width:81px;">管理层</a></span>
    <span><a href="/about_history" style="padding-left:34px; width:81px;">发展历程</a></span>
    <span><a href="/about_advantage" style="padding-left:34px; width:81px;">业务优势</a></span>
    <span><a href="/about_cultural_vision" style="padding-left:34px; width:81px;">愿景文化</a></span>
    </div>
    </li>
    <li class="nav_3s nav_s_line"><a href="/service" class="nav_3s_hover"></a>
    <div>
    <span><a href="/service">行业专项业务</a></span>
    <span><a href="/service_function_specific">职能专项业务</a></span>
    <span><a href="/service_caiwuguanlizixun">财富管理咨询</a></span>
    <span><a href="/service_directors">董事会服务</a></span>
    </div>
    </li>
    <li class="nav_4s nav_s_line"><a href="/process" class=""></a>
    <div>
    <span><a href="/process">企业领袖评估</a></span>
    <span><a href="/process_development">企业领袖发展</a></span>
    <span><a href="/process_operating_guidelines">操作准则</a></span>
    </div>
    </li>
    <li class="nav_5s nav_s_line"><a href="/cases" class=""></a>
    </li>
    <li class="nav_6s nav_s_line"><a href="/contact" class=""></a>
    </li>
    </ul>
    </div>
    <script type="text/javascript">
    $('.nav_6').hide();
    </script>
    
    
    <div class="main">
    
    <div class="left">
    <div class="menu">
    <ul>
    <li><a href="/service" class="">行业专项业务</a></li>
    <li><a href="/service_function_specific" class="menu_hover">职能专项业务</a></li>
    <li><a href="/service_caiwuguanlizixun" class="">财富管理咨询</a></li>
    <li><a href="/service_directors" class="">董事会服务</a></li>
    </ul>
    </div>  </div>
    
    <div class="center">
    <h1>职能专项业务</h1>
    <div class="about kd-content">
    <span class="bule_2" style="display:block;padding-top:10px;border-bottom:1px dashed #aaa;padding-bottom:20px;">虽然我们围绕行业开展业务，但我们的经验已扩展到可以想到的每种类型的组织结构。我们的大部份顾问也同样擅长于搜寻职能位置如CEO、CFO 和CHO。这种双重的结构运作提供我们足够的深度来理解客户需求并服务于客户。</span><br>
    <span class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;">【财务（CFO）】</span> <span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:20px;"> 我们与客户一起寻找能够成为CEO和高级管理队伍的“战略伙伴”的CFO们。由于公司在这方面具有广泛经验，因此特别拓展该业务，专门招聘CFO和其他财务管理人员。<br>
    随着CFO所起的作用不断扩展，企业对高水平财务领导的需求和竞争也大大加强。今天的CFO们能够帮助把握商业的战略发展方向，同时保证公司财务能够得到正确控制，以保护公司资产，优化资金利用，并保证足够的现金流。<br>
    “CFO专项服务业务”由具有丰富经验的顾问和助理完成。他们拥有不同行业领域的专业经验，如财政、管理、投资关系和信息技术。<br>
    我们的顾问都是经验丰富的专家，其经验和知识足使他们能够为我们的客户物色和招聘具有能力和远见成为企业高级管理层的战略伙伴的财务领导。</span><br>
    <span class="bule_2" style="display:block;padding-top:10px;margin-left:-4px;">【人力资源(CHO、HRD)】</span> <span style="display:block;border-bottom:1px dashed #aaa;padding-bottom:20px;"> 一个公司拥有制胜文化就能够在今天的全球市场中参与竞争。如今，CEO们比以往任何时候都更需要他们的人力资源部门帮助创造这样一种文化。因此，让高素质的人才管理人力资源是极其重要的。<br>
    “人力资源专项服务业务”拥有无可比拟的知识和与世界最出色的人力资源领袖的联系。我们帮助CEO们和其他高层领导寻找能够创造理想公司文化的人力资源领袖。<br>
    人力资源业务每年成功完成成百项业务，是最具丰富经验的搜寻队伍之一。我们为领先的企业物色招聘人力资源职位上的战略管理人才。</span>        </div>
    </div>
    
    <div class="right">
    <div class="right_img1"></div>
    <div id="small" class="right_img" style="background:url(../static/uploadfiles/page/2012-10/135028645845.44-lIMKFn.jpg); "></div>
    <div id="big" class="right_img" style="background: url(../static/uploadfiles/page/2012-10/135028645844.86-UUzlVr.jpg); display: none;"></div>
    </div>
    
    
    </div>
    
    <div class="foot gray_8 clearfix"><a href="/">网站使用条款声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/">网站地图</a>&nbsp;&nbsp;
    
    </div>
    </body></html>
